In [2]:
import sagemaker
from sklearn.model_selection import train_test_split
import boto3
import pandas as pd

sagemaker.config INFO - Not applying SDK defaults from location: /Library/Application Support/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /Users/farnaznouri/Library/Application Support/sagemaker/config.yaml

# Connect to S3 bucket

In [38]:
sm_boto3 = boto3.client("sagemaker")
sess = sagemaker.Session()
region = sess.boto_region_name
bucket = 'mobilesagemakerbucket1'
print('using bucket ' + bucket)

using bucket mobilesagemakerbucket1

In [11]:
df = pd.read_csv('../dataset/mob_price_classification_train.csv')
print(df.shape)
df.head()

(2000, 21)

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [13]:
df.price_range.value_counts()

price_range
1    500
2    500
3    500
0    500
Name: count, dtype: int64

In [14]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [17]:
df.isnull().mean()*100

battery_power    0.0
blue             0.0
clock_speed      0.0
dual_sim         0.0
fc               0.0
four_g           0.0
int_memory       0.0
m_dep            0.0
mobile_wt        0.0
n_cores          0.0
pc               0.0
px_height        0.0
px_width         0.0
ram              0.0
sc_h             0.0
sc_w             0.0
talk_time        0.0
three_g          0.0
touch_screen     0.0
wifi             0.0
price_range      0.0
dtype: float64

In [18]:
features = list(df.columns)
features

['battery_power',
 'blue',
 'clock_speed',
 'dual_sim',
 'fc',
 'four_g',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time',
 'three_g',
 'touch_screen',
 'wifi',
 'price_range']

In [19]:
label = features.pop(-1)
label

'price_range'

In [21]:
X = df[features]
y = df[label]

X.head()

   battery_power  blue  clock_speed  ...  three_g  touch_screen  wifi
0            842     0          2.2  ...        0             0     1
1           1021     1          0.5  ...        1             1     0
2            563     1          0.5  ...        1             1     0
3            615     1          2.5  ...        1             0     0
4           1821     1          1.2  ...        1             1     0

[5 rows x 20 columns]

In [22]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [24]:
X.shape

(2000, 20)

In [25]:
y.value_counts()

price_range
1    500
2    500
3    500
0    500
Name: count, dtype: int64

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)
print(X_train.shape)
print(X_test.shape)

(1700, 20)
(300, 20)

In [27]:
print(y_train.shape)
print(y_test.shape)

(1700,)
(300,)

In [29]:
trainX = pd.DataFrame(X_train)
trainX[label] = y_train

testX = pd.DataFrame(X_test)
testX[label] = y_test

In [30]:
trainX.head()

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
1452           1450     0          2.1  ...             1     1            1
1044           1218     1          2.8  ...             0     0            1
1279           1602     0          0.6  ...             1     1            3
674            1034     0          2.6  ...             0     0            0
1200            530     0          2.4  ...             1     0            0

[5 rows x 21 columns]

In [31]:
testX.head()

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
405            1454     1          0.5  ...             1     0            3
1190           1092     1          0.5  ...             1     0            0
1132           1524     1          1.8  ...             0     1            2
731            1807     1          2.1  ...             1     1            2
1754           1086     1          1.7  ...             1     0            2

[5 rows x 21 columns]

In [32]:
trainX.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [33]:
trainX.to_csv("../dataset/train-v-1.csv", index = False)
testX.to_csv("../dataset/test-v-1.csv", index = False)

In [36]:
bucket

'mobilesagemaker1'

# Send data to S3 sagemaker will training data from S3

In [41]:
sk_prefix = 'sagemaker/mobile_price_classification/sklearncontainer'
trainpath = sess.upload_data(
    path = '../dataset/train-v-1.csv', bucket = bucket, key_prefix = sk_prefix
)
testpath = sess.upload_data(
    path = "../dataset/test-v-1.csv", bucket=bucket, key_prefix = sk_prefix
)
print(trainpath)
print(testpath)

s3://mobilesagemakerbucket1/sagemaker/mobile_price_classification/sklearncontainer/train-v-1.csv
s3://mobilesagemakerbucket1/sagemaker/mobile_price_classification/sklearncontainer/test-v-1.csv